body {
  background-color: $light-bg;
  line-height: 1.5;
  font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $heading-color;
  margin: 0 0 15px;
}

p {
  color: $text-color;
  margin: 0 0 20px;
}

.container {
  max-width: calc(1440px + 10%);
  padding: 0 5%;
}

.site-wrap {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__content {
    @extend .col-lg-8;
  }
}
