.live-events {
  .event-item {
    background-color: $white;
    height: 50px;
    padding: 0 15px;
    margin-bottom: 35px;
    box-shadow: 0 1px 2px rgba($color: $black, $alpha: 0.14);

    .row {
      height: 100%;
      align-items: center;
    }

    &__link {
      @extend .col-md-7;
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 0;
      color: $text-color;
      height: 100%;

      &:hover {
        text-decoration: none;
      }
    }

    &__live {
      @extend .col-md-2;
      display: flex;
      justify-content: center;

      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        text-transform: uppercase;
        background-color: $live-bg;
        color: $white;
        border-radius: 8px;
        width: 65px;
        height: 25px;
        box-shadow: 0 1px 3px rgba($color: $black, $alpha: 0.17);
      }
    }

    &__teams {
      @extend .col-md-10;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__markets {
      @extend .col-md-5;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      padding: 0;
    }

    &__market {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0 8px;
      font-size: 0.8rem;
      height: 100%;
      font-weight: bold;
      background: $market-bg;
      text-transform: capitalize;
      width: 100%;
      max-width: 33.333333%;
      flex: 0 0 33.333333%;
      border: {
        left: 1px solid $market-border-color;
        right: 1px solid $market-border-color;
      }

      .team {
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        color: #727693;
        font-weight: normal;
        text-transform: capitalize;
      }

      .odds {
        margin-left: 5px;
        color: $odds-color;
      }
    }
  }
}
