.sidebar {
  @extend .col-lg-2;
  background-color: $sidebar-bg;
  height: calc(100vh - 60px);

  &__container {
    height: 100%;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__title {
    text-transform: uppercase;
    color: $white;
    letter-spacing: 1px;
    font-size: 2rem;
  }
}
