.site-header {
  background-color: $header-bg;
  padding: 15px 0;

  &__row {
    justify-content: center;
    align-items: center;
  }

  &__logo {
    @extend .col-md-6;
    @extend .offset-md-3;
    display: flex;
    justify-content: center;

    .image {
      height: 30px;
      width: auto;
    }
  }

  &__controls {
    @extend .col-md-3;
    display: flex;
    justify-content: flex-end;

    .odds-toggle {
      cursor: pointer;
      border: 0;
      background-color: transparent;
      color: $white;
      padding: 0;
      text-transform: capitalize;

      &__overlay {
        display: block;
        position: absolute;
        background-color: $white;
        padding: 6px 12px;
        z-index: 10;
        border-radius: 3px;
        transform: translateX(-50%);

        // &.open {
        // }

        &::before {
          content: '';
          position: absolute;
          top: -7px;
          left: 50%;
          transform: translateX(-50%);
          border: {
            right: 7px solid transparent;
            bottom: 7px solid $white;
            left: 7px solid transparent;
          }
        }

        .odds-toggle {
          position: relative;
          color: $text-color;
          padding-left: 40px;

          &.fractions {
            &::before {
              background-color: $odds-color;
            }

            &::after {
              left: 5px;
            }
          }

          &.decimals {
            &::before {
              background-color: $live-bg;
            }

            &::after {
              left: 15px;
            }
          }

          &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 35px;
            height: 100%;
            background-color: darken($light-bg, 7);
            border-radius: 10px;
          }

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            will-change: auto;
            transform: translateY(-50%);
            width: 15px;
            height: calc(100% - 10px);
            background-color: $white;
            border-radius: 10px;
            transition: all 0.25s ease;
          }
        }
      }
    }
  }
}
